@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1c1c1c;
    font-family: "Poppins", sans-serif;
    margin: 0;
    min-height: 100vh;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 5rem;
    text-align: center;
    opacity: 0.4;
    padding: 1rem;
    margin-bottom: 2rem;
}

ul h2 {
    text-align: center;
    color: rgb(225, 110, 34);
    background-color: #1c1c1c;
    padding-bottom: 3rem;
}

form {
    max-width: 100%;
    width: 400px;
}

small {
    color: #b5b5b5;
    margin-top: 2rem;
    text-align: center;
}

.hint {
    color: lawngreen;
}

.input {
    border: none;
    border-radius: 10px;
    margin-bottom: 3rem;
    font-size: 1.2rem;
    padding: 1.2rem;
    display: block;
    width: 100%;
    outline: none;
}

.input::placeholder {
    color: #c0c0c0;
}

.todos {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: transparent;
    color: rgb(225, 110, 34);
    padding: 0;
    margin: 0;
    list-style-type: none;
    border-radius: 10px;
}

.todos li {
    border-top: 1px solid #e5e5e554;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    /* border-radius: 5px; */
    font-size: 1rem;
    font-weight: 400;
    padding: 1rem;
    cursor: pointer;
}

.todos li.completed {
    text-decoration: line-through;
    color: #b1b1b1;
}

@media (max-width: 768px) {
    h1 {
        font-size: 4rem;
    }
}

@media (max-width: 500px) {
    body {
        display: flex;
        flex-wrap: wrap;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        padding-top: 2rem;
        font-size: 1.3rem;
    }

    .input {
        align-items: center;
        font-size: 1rem;
        max-width: 80%;
        margin: auto;
    }

    .todos {
        width: 80%;
        margin: auto;
    }
}